
<% include header %>

<form action="/" method="post" class="ui form">
    <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
    </div>
    <button type="submit" class="ui blue labeled submit icon button">
        <i class="icon edit"> </i>
        Envoyer
    </button>
    </form>
    
    <div class="ui comments">
    <h3 class="ui dividing header">Commentaires</h3>
    <% for(message of messages) { %>
        <div class="comment">
            <a class="avatar">
                <img src="http://www.10torsions.com/images/images-galeries-fiches-produits/lego-challenge-original-1.jpg">
            </a>
            <div class="content">
                <div class="metadata">
                    <div class="date">
                        <%= message.created_at.fromNow() %>
                    </div>
                </div>
                <div class="test"><%= message.content %></div>
            </div>
        </div>
        <% } %>
    </div>

    <% include footer %>